@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 36rem;
}
